.root {
     -fx-background-image: url("file:Resources/Images/PlayBackground.png");
     -fx-background-size: cover;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-image: url("file:Resources/Images/PlayBackground.png");
}